<!DOCTYPE HTML>
<html lang="en">
<head>
        <title>Luigi's</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">

        
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
        <link rel="stylesheet" href="fonts/beyond_the_mountains-webfont.css" type="text/css"/>

        
        <link href="plugin-frameworks/bootstrap.min.css" rel="stylesheet">
        <link href="plugin-frameworks/swiper.css" rel="stylesheet">
        <link href="fonts/ionicons.css" rel="stylesheet">
        <link href="common/styles.css" rel="stylesheet">

</head>
<body>

<header>
        <div class="container">
                <a class="logo" href="#"><img src="images/logo-white.png" alt="Logo"></a>

                <div class="right-area">
                        <h6><a class="plr-20 color-white btn-fill-primary" href="#">ORDER: +91 915 598 9869</a></h6>
                </div>

                <a class="menu-nav-icon" data-menu="#main-menu" href="#"><i class="ion-navicon"></i></a>

                <ul class="main-menu font-mountainsre" id="main-menu">
                        <li><a href="/index">HOME</a></li>
                        <li><a href="/02_about_us">ABOUT US</a></li>
                        <li><a href="#OurMenu">SERVICES</a></li> 
                        <li><a href="/04_blog">NEWS</a></li>
                        <li><a href="/05_contact">CONTACT</a></li>
                        <li><a href="/res">RESERVATION</a></li>
                </ul>

                <div class="clearfix"></div>
        </div>
</header>


<section class="bg-1 h-900x main-slider pos-relative">
        <div class="triangle-up pos-bottom"></div>
        <div class="container h-100">
                <div class="dplay-tbl">
                        <div class="dplay-tbl-cell center-text color-white">

                                <h5><b>BEST IN TOWN</b></h5>
                                <h1 class="mt-30 mb-15">Pizzeria</h1>
                                <h5><a href="/02_about_us" class="btn-primaryc plr-25"><b>Know more about</b></a></h5>
                        </div>
                </div>
        </div>
</section>

<!--Your Story-->
<section class="story-area left-text center-sm-text pos-relative">
        <div class="abs-tbl bg-2 w-20 z--1 dplay-md-none"></div>
        <div class="abs-tbr bg-3 w-20 z--1 dplay-md-none"></div>
        <div class="container">
                <div class="heading">
                        <img class="heading-img" src="images/heading_logo.png" alt="">
                        <h2>Our Story</h2>
                </div>

                <div class="row">
                        <div class="col-md-6">
                                <p class="mb-30">Luigi's brings you the best of fresh ingredients and authentic original recipes from the Mediterranean along with an ambience of a unique cultural heritage. With a wide array of fresh salads, soups, pasta, pizza and grills it is a personification of 'the chilled out ambience'. </p>
                        </div>

                        <div class="col-md-6">
                                <p class="mb-30">It was the summer of 2018 when Dan and Frank Carney decided to open a pizzeria. With mouth-watering pizzas prepared by the founders themselves, Luigi's soon became the most popular neighbourhood restaurant. From then to over 13,200 restaurants across the world today, we have come a long way. </p>
                        </div>
                </div>
        </div>
</section>

<!--Logo-->
<section class="story-area bg-seller color-white pos-relative">
        <div class="pos-bottom triangle-up"></div>
        <div class="pos-top triangle-bottom"></div> 
        <div class="container"> 
                <div class="heading">
                        <img class="heading-img" src="images/logo-white.png" alt="" style="width:229px;height:89px;">
                     
                </div>
</section>

<!--Our Menu-->
<section id="OurMenu" class="Dropdown">
        <div class="container">
                <div class="heading">
                        <img class="heading-img" src="images/heading_logo.png" alt="">
                        <h2>Our Menu</h2>
                </div>

                <div class="row">
                        <div class="col-sm-12">
                                <ul class="selecton brdr-b-primary mb-70">
                                        <li><a class="active" href="#" data-select="*"><b>ALL</b></a></li>
                                        <li><a href="#" data-select="pizza"><b>PIZZA</b></a></li>
                                        <li><a href="#" data-select="pasta"><b>PASTA</b></a></li>
                                        <li><a href="#" data-select="salads"><b>SALADS</b></a></li>
                                        <li><a href="#" data-select="deserts"><b>DESERTS</b></a></li>
                                </ul>
                        </div>
                </div>

                <div class="row">
                        <div class="col-md-6 food-menu pizza">
                                <div class="sided-90x mb-30 ">
                                        <div class="s-left"><img class="br-3" src="images/menu-1-120x120.jpg" alt="Menu Image"></div><!--s-left-->
                                        <div class="s-right">
                                                <h5 class="mb-10"><b>Pizza Margherita</b><b class="color-primary float-right">&#8377;1049.00</b></h5>
                                                <p class="pr-70">Neapolitian pizza made with San Marzano tomatoes, mozzarella, fresh basil, pepper and extra-virgi oil. </p>
                                        </div>
                                </div>
                        </div>

                        <div class="col-md-6 food-menu pasta">
                                <div class="sided-90x mb-30 ">
                                        <div class="s-left"><img class="br-3" src="images/menu-2-120x120.jpg" alt="Menu Image"></div><!--s-left-->
                                        <div class="s-right">
                                                <h5 class="mb-10"><b>Classic Italian pasta</b><b class="color-primary float-right">&#8377;599.00</b></h5>
                                                <p class="pr-70">Tender pasta, ripe juicy tomatoes, crisp bell peppers, salami and mozzarella cheese. </p>
                                        </div>
                                </div>
                        </div>

                        <div class="col-md-6 food-menu pizza">
                                <div class="sided-90x mb-30 ">
                                        <div class="s-left"><img class="br-3" src="images/menu-3-120x120.jpg" alt="Menu Image"></div><!--s-left-->
                                        <div class="s-right">
                                                <h5 class="mb-10"><b>Pizza Prosciuto</b><b class="color-primary float-right">&#8377;849.00</b></h5>
                                                <p class="pr-70">Prosciutto medium-slice, mozzarella cheese, tomato sauce, peppery arugula, olive oil.. </p>
                                        </div>
                                </div>
                        </div>

                        <div class="col-md-6 food-menu salads">
                                <div class="sided-90x mb-30">
                                        <div class="s-left"><img class="br-3" src="images/menu-4-120x120.jpg" alt="Menu Image"></div><!--s-left-->
                                        <div class="s-right">
                                                <h5 class="mb-10"><b>Spicy Italian Salad</b><b class="color-primary float-right">&#8377;427.00</b></h5>
                                                <p class="pr-70">Lettuce, red bell pepper, carrot, red onion, black olives, green olives, cucumber, and Romano cheese, pepper. Pour with artichoke and marinade mixture, and toss to coat. </p>
                                        </div>
                                </div>
                        </div>
                        <div class="col-md-6 food-menu pizza">
                                <div class="sided-90x mb-30">
                                        <div class="s-left"><img class="br-3" src="images/menu-5-120x120.jpg" alt="Menu Image"></div><!--s-left-->
                                        <div class="s-right">
                                                <h5 class="mb-10"><b>Pizza Margherita</b><b class="color-primary float-right">&#8377;429.00</b></h5>
                                                <p class="pr-70">Neapolitan pizza made with San Marzano tomatoes, mozzarella fior di latte, fresh basil, extra-virgin olive oil. </p>
                                        </div>
                                </div>
                        </div>

                        <div class="col-md-6 food-menu pasta">
                                <div class="sided-90x mb-30 ">
                                        <div class="s-left"><img class="br-3" src="images/menu-6-120x120.jpg" alt="Menu Image"></div><!--s-left-->
                                        <div class="s-right">
                                                <h5 class="mb-10"><b>Italian pasta</b><b class="color-primary float-right">&#8377;920.00</b></h5>
                                                <p class="pr-70">Spread of a thin layer of meat sauce, a single layer of lasagna noodles, a layer of ricotta mixture, single layer of mozzarella,top last layer of noodles with meat sauce, Parmesan, and mozzarella. </p>
                                        </div>
                                </div>
                        </div>

                        <div class="col-md-6 food-menu pasta">
                                <div class="sided-90x mb-30">
                                        <div class="s-left"><img class="br-3" src="images/menu-7-120x120.jpg"  alt="Menu Image"></div><!--s-left-->
                                        <div class="s-right">
                                                <h5 class="mb-10"><b>Chicken Shawarma</b><b class="color-primary float-right">&#8377;1129.00</b></h5>
                                                <p class="pr-70">Top warmed pitas with chicken, onions,juice of lemon, black pepper, lettuce, tomatoes, cucumber, and yogurt sauce. </p>
                                        </div>
                                </div>
                        </div>

                        <div class="col-md-6 food-menu deserts">
                                <div class="sided-90x mb-30 ">
                                        <div class="s-left"><img class="br-3" src="images/menu-8-120x120.jpg" alt="Menu Image"></div><!--s-left-->
                                        <div class="s-right">
                                                <h5 class="mb-10"><b>Bruschettas</b><b class="color-primary float-right">&#8377;1199.00</b></h5>
                                                <p class="pr-70">Grilled bread rubbed with garlic and topped with olive oil, tomato, vegetables, beans, cured meat or cheese. </p>
                                        </div>
                                </div>
                        </div>
                </div>
        </div>

        <div class="container">
                <div class="heading mb-sm-10"><h3>Choose new Pasta</h3></div>
                <div class="row">
                        <div class="col-md-12 col-lg-6">
                                <div class="sided-220x responsive mb-30 left-text center-sm-text">
                                        <div class="s-left mlr-sm-auto"><img  src="images/pasta-1-300x300.png" alt="Menu Image"></div>
                                        <div class="s-right">
                                                <h5>Hakka Noddles</h5>
                                                <h4 class="mtb-10"><b class="color-primary">&#8377;529.00</b></h4>
                                                <p>Noodles, Salt, Oil, Garlic paste, Ginger paste, Beans, Cabbage, Carrot, Spring onion, Capsicum, Soy sauce, Green chilli sauce, Tomato sauce </p>
                                        </div>
                                </div>
                        </div>

                        <div class="col-md-12 col-lg-6">
                                <div class="sided-220x responsive mb-30 left-text center-sm-text">
                                        <div class="s-left mlr-sm-auto"><img  src="images/pasta-2-300x300.png" alt="Menu Image"></div>
                                        <div class="s-right">
                                                <h5>Penne Ala Vodka</h5>
                                                <h4 class="mtb-10"><b class="color-primary">&#8377;450.00</b></h4>
                                                <p>Butter, Olive oil, Onion, Garlic , Fresh cream, Vodka, Chilli flakes, 1 can of Italian plum tomatoes deseeded and chopped, Parmesan cheese </p>
                                        </div>
                                </div>
                        </div>
                </div>
        </div> 
</section>                      
<footer class="pb-50  pt-70 pos-relative">
        <div class="pos-top triangle-bottom"></div>
        <div class="container-fluid">
                <a href="index.html"><img src="images/logo-white.png" alt="Logo"></a>

                <div class="pt-30">
                        <p class="underline-secondary"><b>Address:</b></p>
                        <p>Connaught Place, New Delhi 110001 </p>
                </div>

                <div class="pt-30">
                        <p class="underline-secondary mb-10"><b>Phone:</b></p>
                        <a href="tel:+91 9661790300 ">+91 9661790300 </a>
                </div>

                <div class="pt-30">
                        <p class="underline-secondary mb-10"><b>Email:</b></p>
                        <a href="mailto:joelkishor38@gmail.com">joelkishor38@gmail.com</a>
                </div>

                <ul class="icon mt-30">
                        <li><a href="https://in.pinterest.com"><i class="ion-social-pinterest"></i></a></li>
                        <li><a href="https://www.facebook.com"><i class="ion-social-facebook"></i></a></li>
                        <li><a href="https://twitter.com"><i class="ion-social-twitter"></i></a></li>
                     
                </ul>

                <p class="color-light font-9 mt-50 mt-sm-30">
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This Web is made with <i class="ion-heart" aria-hidden="true"></i> by <a  target="_blank">Abhishek Kumar</a>
</p>
        </div>
</footer>


<script src="plugin-frameworks/jquery-3.2.1.min.js"></script>
<script src="plugin-frameworks/bootstrap.min.js"></script>
<script src="plugin-frameworks/swiper.js"></script>
<script src="common/scripts.js"></script>

</body>
</html>